 <div class="page-footer">
	 <p class="copyright"> © Copyright @ 2017. All Rights Reserved
                    <a target="_blank" href="https://netgen.in/">Netgen IT solution</a> &nbsp;|&nbsp;
                   
                </p>
                
<!--                <div class="page-footer-inner"> 2016 &copy; Metronic Theme By
                    <a target="_blank" href="http://keenthemes.com">Keenthemes</a> &nbsp;|&nbsp;
                    <a href="http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes" title="Purchase Metronic just for 27$ and get lifetime updates for free" target="_blank">Purchase Metronic!</a>
                </div>-->
               
                <div class="scroll-to-top">
                    <i class="icon-arrow-up"></i>
                </div>
 </div>
