<?php// debug($invoicedata)?>
<?php //debug($invoicetable);?>

   
<style>
   
    .container1{
        width: 992px;
        // min-height:1403px;
        font-size: 19px;
        text-align: justify;
        line-height: 30px;     
    } 
    table, th, td {
    border-bottom: 1px solid black;
    border-collapse: collapse;
	}
	th, td {
		padding: 15px;
	}
    
</style>
     
<div class="container1">
		<div class="row">         
			<h1 style="text-align: center;"><?php echo $invoicedata->project_name ?></h2>
		</div>
		<div class="row">
			<table style="width: 100%;">
			<tr>
			<th style="text-align: left;"><h3 style="margin-bottom:0;">INVOICE</h3></th>
			<th><h3 style="float:right;">Date:<?php echo date('d-m-Y',strtotime($invoicetable->added_on)); ?></h3>  </th>
			</tr>
			</table>
		</div>      
 
		<div class="row" style="width:100%;float:left;margin-bottom:6%;">
			<div style="width:36%;float:left;"> 
				<h3>Project Details</h3> 
					<b>Project Name:</b> <?php echo $invoicedata->project_name ?> <br>
					<b>Project Address:</b><?php echo $invoicedata->project_address ?> <br>
					
					
					
                                       
			</div>

			<div style="width:32%;float:right;">
				<h3>Client Details</h3>
				<b>Client Name:</b> <?php echo $invoicedata->clientname ?><br>
				<b>Client Address:</b> <?php echo $invoicedata->client_address ?><br> 
				<b>
			</div>
		</div>
		<div class="row">
			<table style="width: 100%;">
			<tr>
			<th style="text-align: left;"><h3 style="margin-bottom:0;">Project Budget</h3></th>
			
			
			</tr>
			
		</div>   
		<table style="width:100%;">
		  <tr>
		    <th style="text-align:left;">Project</th>
			<th style="text-align:left;"> Amount</th>
		    <th style="text-align:right;">Alloted By</th>  
			<th style="text-align:right;">Alloted To</th>  
			<th style="text-align:right;">Alloted on</th> 
			 
		  </tr>
		  <tr style="background:#F1F4F7;">
			<td><h4><?php echo $invoicedata->project_name ?></h4></td>
			<td style="text-align:right;"> <?php echo $invoicedata->amount ?></td>
			<td style="text-align:right;"><?php echo $invoicedata->alloted_by ?> </td> 
			<td style="text-align:right;"> <?php echo $invoicedata->alloted_to ?> </td>
			<td style="text-align:right;"> <?php echo date('d-m-Y',strtotime($invoicetable->added_on)); ?></td>
			
		  </tr>       
		</table>
		<div class="row"> 
			<div class="col-md-12"> 
					
					<p style="text-align:justify;">  
					<h4 style="padding-top:20px;"><?php echo __('Budget Details') ?> </h4>    
					This is project budget is  of project <?php echo $invoicedata->project_name ?> .
					This Project budget is alloted by <?php echo $invoicedata->alloted_by ?> on date <?php echo date('d-m-Y',strtotime($invoicetable->added_on)); ?>.
					This Project Budget is alloted to manager <?php echo $invoicedata->alloted_to ?>.</p>
		      
					</p>
			</div> 
		</div>
		


</div>



 
 
 
 
 
 
