
<p >Hello <?php echo $firstname." ".$lastname; ?> 
    <br>
    <br>


<p>Your Password has been changed by the admin. Please use the provided Password and your email address to login at the website:

<p><?php echo "dev7.netgen.in/users/login"?>

<p>username: <?php echo $username ?>
<p>email: <?php echo $email ?>
<p>Password: <?php echo $pass ?>

<p>Once you have logged in, you may change your password, edit your details and manage your projects.

<p>Thank you.



