
<p>Your username is <?php echo $username; ?></p>

<p>Click on the link below to Reset Your Password.</p>

<p><a href="<?php echo $url; ?>">Click here to Reset Your Password</a></p>

<pre>or Visit this Link</pre><br/>
<p><a href="<?php echo $url; ?>"><?php echo $url; ?></a></p>


